init_usb_connection
[{"id":"4d447d3d.446a24","type":"usbscan","z":"f34631f7.5f7c18","name":"usbscan","topic":"usb","x":180,"y":260,"wires":[["a0c85263.ecbf5","17af0b03.e9af45"]]},{"id":"a0c85263.ecbf5","type":"switch","z":"f34631f7.5f7c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"detached","vt":"str"},{"t":"cont","v":"attached","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":330,"y":260,"wires":[["4bc58e49.25b7f8"],["bac2f444.86dda"],["bae38a74.f72de8"]]},{"id":"19aa3ad5.63ea4d","type":"function","z":"f34631f7.5f7c18","name":"Send \"USB\"","func":"msg.payload = \"USB\"+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["44ded4b2.ab18f4","a116e889.51dcd8"]]},{"id":"44ded4b2.ab18f4","type":"link out","z":"f34631f7.5f7c18","name":"serial out","links":["3d5798ef.80157"],"x":795,"y":260,"wires":[]},{"id":"bae38a74.f72de8","type":"debug","z":"f34631f7.5f7c18","name":"Some other device attached","active":true,"console":"false","complete":"payload","x":560,"y":300,"wires":[]},{"id":"17af0b03.e9af45","type":"debug","z":"f34631f7.5f7c18","name":"USB SCAN","active":true,"console":"false","complete":"payload","x":350,"y":340,"wires":[]},{"id":"bac2f444.86dda","type":"delay","z":"f34631f7.5f7c18","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":260,"wires":[["19aa3ad5.63ea4d"]]},{"id":"a3ddbdff.4d739","type":"link out","z":"f34631f7.5f7c18","name":"","links":["1e2a6078.d9bf7"],"x":955,"y":260,"wires":[]},{"id":"4bc58e49.25b7f8","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"Status","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["a3ddbdff.4d739","9d5eeccb.cfe868"]]},{"id":"5c9f2271.4cd094","type":"comment","z":"f34631f7.5f7c18","name":"Detached message from usbscan","info":"","x":1130,"y":220,"wires":[]},{"id":"81b0f907.55731","type":"comment","z":"f34631f7.5f7c18","name":"Attached message from usbscan","info":"if usbscan shows waterrower connected \nthen send \"USB\" command to WR to enable \ncommunication","x":1130,"y":260,"wires":[]},{"id":"9d5eeccb.cfe868","type":"debug","z":"f34631f7.5f7c18","name":"WR detached","active":true,"console":"false","complete":"payload","x":740,"y":200,"wires":[]},{"id":"a116e889.51dcd8","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"Status","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[[]]}]
