read_data_from_WR
[{"id":"4cfac80f.74b39","type":"serial in","z":"f34631f7.5f7c18","name":"","serial":"f02e8a4e.e1356","x":170,"y":880,"wires":[["58ef8cbb.5c0cec"]]},{"id":"58ef8cbb.5c0cec","type":"switch","z":"f34631f7.5f7c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PING","vt":"str"},{"t":"cont","v":"P01","vt":"str"},{"t":"cont","v":"IDS1A9","vt":"str"},{"t":"cont","v":"IDS1E","vt":"str"},{"t":"cont","v":"IDS140","vt":"str"},{"t":"cont","v":"IDS141","vt":"str"},{"t":"cont","v":"IDD057","vt":"str"},{"t":"cont","v":"WR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":9,"x":330,"y":882,"wires":[["18239c0d.a98224"],["65f94c26.d3eba4"],["1d9a5ff1.481fe"],["1dda0dd9.e8561a"],["f441e8b8.c71f08"],["e8320918.b8bff"],["7928d157.3ce838"],["1cfbc6d0.5da871"],["7b3c52e8.65d36c"]]},{"id":"65f94c26.d3eba4","type":"debug","z":"f34631f7.5f7c18","name":"P01","active":false,"console":"false","complete":"payload","x":510,"y":780,"wires":[]},{"id":"7b3c52e8.65d36c","type":"debug","z":"f34631f7.5f7c18","name":"","active":false,"console":"false","complete":"false","x":670,"y":1240,"wires":[]},{"id":"9c751680.a627c8","type":"function","z":"f34631f7.5f7c18","name":"hex_to_dec","func":"hex = msg.payload.substr(6,2);\nint = parseInt(hex, 10);\nvar hour = flow.set(\"hour\", int);\nmsg.payload = int;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[[]]},{"id":"1dda0dd9.e8561a","type":"switch","z":"f34631f7.5f7c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"IDS1E3","vt":"str"},{"t":"cont","v":"IDS1E2","vt":"str"},{"t":"cont","v":"IDS1E1","vt":"str"}],"checkall":"true","outputs":3,"x":510,"y":900,"wires":[["9c751680.a627c8"],["467698d1.c607d"],["85e62705.4937e8"]]},{"id":"467698d1.c607d","type":"function","z":"f34631f7.5f7c18","name":"hex_to_dec","func":"hex = msg.payload.substr(6,2);\nint = parseInt(hex, 10);\nvar minute = flow.set(\"minute\", int);\nmsg.payload = int;\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":900,"wires":[[]]},{"id":"85e62705.4937e8","type":"function","z":"f34631f7.5f7c18","name":"hex_to_dec","func":"hex = msg.payload.substr(6,2);\nint = parseInt(hex, 10);\nvar second = flow.set(\"second\", int);\nmsg.payload = int;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":940,"wires":[["fb56c4d9.dec4a8"]]},{"id":"a3e73115.c4c388","type":"link out","z":"f34631f7.5f7c18","name":"","links":["6f610707.537b6"],"x":1215,"y":940,"wires":[]},{"id":"1baa0841.d446a","type":"debug","z":"f34631f7.5f7c18","name":"Time","active":false,"console":"false","complete":"payload","x":1250,"y":980,"wires":[]},{"id":"fb56c4d9.dec4a8","type":"function","z":"f34631f7.5f7c18","name":"Zeit (hh:mm:ss)","func":"var hours = flow.get(\"hour\");\nvar minutes = flow.get(\"minute\");\nvar seconds = flow.get(\"second\");\n\n// calc duration of workoutin seconds\nmsg.payload = hours*3600+minutes*60+seconds;\n\n// create \"time string for dashboard display\"\nif (hours   < 10) {hours   = \"0\"+hours;}\nif (hours == \"000\") {hours=\"00\";}\nif (minutes < 10) {minutes = \"0\"+minutes;}\nif (seconds < 10) {seconds = \"0\"+seconds;}\n\nmsg.timestring = hours+\":\"+minutes+\":\"+seconds;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":940,"wires":[["6d2f58f4.47106","bf9d956d.d4f2c"]]},{"id":"f441e8b8.c71f08","type":"function","z":"f34631f7.5f7c18","name":"Stroke Count Lo","func":"hex = msg.payload.substr(6,2);\nvar loCount = flow.set(\"loCount\", parseInt(hex,16));\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1020,"wires":[["e0caca8e.d02f68"]]},{"id":"1d9a5ff1.481fe","type":"function","z":"f34631f7.5f7c18","name":"hex_to_dec","func":"hex = msg.payload.substr(6,2);\nmsg.payload = parseInt(hex, 16);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":820,"wires":[["335d367.4db5e4a"]]},{"id":"790df88c.52ed28","type":"link out","z":"f34631f7.5f7c18","name":"","links":["3d1cff8f.09a448"],"x":1035,"y":820,"wires":[]},{"id":"1cfbc6d0.5da871","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"Status","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1200,"wires":[["fd76acbe.3dcba"]]},{"id":"fd76acbe.3dcba","type":"debug","z":"f34631f7.5f7c18","name":"WR connected","active":false,"console":"false","complete":"payload","x":900,"y":1200,"wires":[]},{"id":"18239c0d.a98224","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"Status","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":700,"wires":[["306adbd8.9b6164","bd69c86b.535a4"]]},{"id":"306adbd8.9b6164","type":"debug","z":"f34631f7.5f7c18","name":"PING","active":false,"console":"false","complete":"payload","x":730,"y":700,"wires":[]},{"id":"bd69c86b.535a4","type":"link out","z":"f34631f7.5f7c18","name":"","links":["1e2a6078.d9bf7"],"x":695,"y":740,"wires":[]},{"id":"8fbcd4e.aa679a8","type":"debug","z":"f34631f7.5f7c18","name":"Stroke Count","active":false,"console":"false","complete":"payload","x":1090,"y":1060,"wires":[]},{"id":"7928d157.3ce838","type":"function","z":"f34631f7.5f7c18","name":"calc distance","func":"var lo = parseInt(msg.payload.substring(8,10),16);\nvar hi = parseInt(msg.payload.substring(6,8),16);\nmsg.payload = hi * 256 + lo;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1100,"wires":[["a9723e36.f10f3"]]},{"id":"f5b0880d.63082","type":"link out","z":"f34631f7.5f7c18","name":"","links":["d343ed14.3aff6"],"x":1015,"y":1100,"wires":[]},{"id":"e8320918.b8bff","type":"function","z":"f34631f7.5f7c18","name":"Stroke Count Hi","func":"hex = msg.payload.substr(6,2);\nvar hiCount = flow.set(\"hiCount\", parseInt(hex,16));\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1060,"wires":[[]]},{"id":"e0caca8e.d02f68","type":"function","z":"f34631f7.5f7c18","name":"calc stroke count","func":"msg.payload = flow.get(\"hiCount\") *256+ flow.get(\"loCount\");\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1040,"wires":[["8fbcd4e.aa679a8","362adaa5.157f8e"]]},{"id":"9c91fae6.27593","type":"link out","z":"f34631f7.5f7c18","name":"","links":["3e0fea50.59b07e"],"x":1295,"y":1020,"wires":[]},{"id":"a9723e36.f10f3","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1100,"wires":[["f5b0880d.63082"]]},{"id":"362adaa5.157f8e","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"stroke_count","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1020,"wires":[["9c91fae6.27593"]]},{"id":"335d367.4db5e4a","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"stroke_rate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":820,"wires":[["790df88c.52ed28"]]},{"id":"6d2f58f4.47106","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"duration","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":920,"wires":[["b7aaf84f.6b2738","5f3d437f.4d5854"]]},{"id":"bf9d956d.d4f2c","type":"function","z":"f34631f7.5f7c18","name":"Time for Display","func":"msg.payload = msg.timestring;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":960,"wires":[["a3e73115.c4c388","1baa0841.d446a"]]},{"id":"b7aaf84f.6b2738","type":"function","z":"f34631f7.5f7c18","name":"calc start date","func":"//substract from current time the duration of the \n//workout to define start date\n//duration in seconds * 1000 to get milliseconds\n//36000000 Offset for Winter time\nvar date = new Date()-(context.global.duration*1000)+3600000;\nvar Start = new Date(date);\nmsg.payload = Start.toUTCString();\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":920,"wires":[["816d7392.d66f98"]]},{"id":"5f3d437f.4d5854","type":"debug","z":"f34631f7.5f7c18","name":"Duration","active":true,"console":"false","complete":"payload","x":1300,"y":880,"wires":[]},{"id":"816d7392.d66f98","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"startdate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":980,"wires":[["daac3f7f.88ca9"]]},{"id":"daac3f7f.88ca9","type":"debug","z":"f34631f7.5f7c18","name":"Startdate","active":true,"console":"false","complete":"payload","x":1690,"y":980,"wires":[]},{"id":"f02e8a4e.e1356","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
