send_requests_to_WR
[{"id":"b053dd21.4a6cb","type":"serial out","z":"f34631f7.5f7c18","name":"","serial":"f02e8a4e.e1356","x":820,"y":1460,"wires":[]},{"id":"9ab1cfde.35d22","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"","payload":"RESET","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":1520,"wires":[["7866ce15.3c64a8"]]},{"id":"47036059.04cbb8","type":"debug","z":"f34631f7.5f7c18","name":"Serial Out","active":false,"console":"false","complete":"payload","x":800,"y":1520,"wires":[]},{"id":"7866ce15.3c64a8","type":"function","z":"f34631f7.5f7c18","name":"attach line feed","func":"msg.payload = msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1500,"wires":[["47036059.04cbb8","b053dd21.4a6cb"]]},{"id":"e166896a.f2572","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"Workout 7000m","payload":"WSI11B58","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":1580,"wires":[["a1c5b250.7e9558"]]},{"id":"a9a7d74c.611d78","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"Request Distance","payload":"IRD057","payloadType":"str","repeat":"1","crontab":"","once":false,"x":220,"y":1620,"wires":[["a1c5b250.7e9558"]]},{"id":"b5edcff1.848d1","type":"inject","z":"f34631f7.5f7c18","name":"Request Stroke Count Hi","topic":"","payload":"IRS141","payloadType":"str","repeat":"1","crontab":"","once":false,"x":210,"y":1700,"wires":[["a1c5b250.7e9558"]]},{"id":"5fdadb8a.bc879c","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"Stunde","payload":"IRS1E3","payloadType":"str","repeat":"1","crontab":"","once":false,"x":180,"y":1800,"wires":[["a1c5b250.7e9558"]]},{"id":"5ef4e7b7.b928","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"Minute","payload":"IRS1E2","payloadType":"str","repeat":"1","crontab":"","once":false,"x":180,"y":1840,"wires":[["a1c5b250.7e9558"]]},{"id":"d6a06bfc.7b2f1","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"Secunde","payload":"IRS1E1","payloadType":"str","repeat":"1","crontab":"","once":false,"x":190,"y":1880,"wires":[["a1c5b250.7e9558"]]},{"id":"abe15ff9.bd6c4","type":"inject","z":"f34631f7.5f7c18","name":"","topic":"","payload":"USB","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":1480,"wires":[["7866ce15.3c64a8"]]},{"id":"8126ba9c.9688a8","type":"link in","z":"f34631f7.5f7c18","name":"Input from Dashboard","links":["f195388f.31713"],"x":115,"y":1440,"wires":[["7866ce15.3c64a8"]]},{"id":"5e7ade01.10372","type":"inject","z":"f34631f7.5f7c18","name":"Request Stroke Count Lo","topic":"","payload":"IRS140","payloadType":"str","repeat":"1","crontab":"","once":false,"x":220,"y":1660,"wires":[["a1c5b250.7e9558"]]},{"id":"9f8cd535.5304d","type":"inject","z":"f34631f7.5f7c18","name":"Request Stroke Rate","topic":"","payload":"IRS1A9","payloadType":"str","repeat":"1","crontab":"","once":false,"x":200,"y":1740,"wires":[["a1c5b250.7e9558"]]},{"id":"3d5798ef.80157","type":"link in","z":"f34631f7.5f7c18","name":"","links":["44ded4b2.ab18f4"],"x":615,"y":1460,"wires":[["b053dd21.4a6cb"]]},{"id":"a1c5b250.7e9558","type":"switch","z":"f34631f7.5f7c18","name":"","property":"Status","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":540,"y":1600,"wires":[["7866ce15.3c64a8"],["b9c1166f.95cdd"]]},{"id":"c6caf496.33c9c8","type":"catch","z":"f34631f7.5f7c18","name":"serial out","scope":["b053dd21.4a6cb"],"x":1000,"y":1460,"wires":[["6c2af094.083bf"]]},{"id":"6c2af094.083bf","type":"switch","z":"f34631f7.5f7c18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error: Port is not open","vt":"str"}],"checkall":"true","outputs":1,"x":1150,"y":1460,"wires":[["531f55c4.2ac344"]]},{"id":"531f55c4.2ac344","type":"change","z":"f34631f7.5f7c18","name":"","rules":[{"t":"set","p":"Status","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1460,"wires":[["95e4b4ab.96e6a8"]]},{"id":"95e4b4ab.96e6a8","type":"link out","z":"f34631f7.5f7c18","name":"","links":["1e2a6078.d9bf7"],"x":1475,"y":1460,"wires":[]},{"id":"b9c1166f.95cdd","type":"debug","z":"f34631f7.5f7c18","name":"Status Offline","active":false,"console":"false","complete":"payload","x":771,"y":1640,"wires":[]},{"id":"f02e8a4e.e1356","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
