update_status
[{"id":"1e2a6078.d9bf7","type":"link in","z":"8b2a50a5.d4fcc8","name":"Status","links":["95e4b4ab.96e6a8","a3ddbdff.4d739","bd69c86b.535a4"],"x":55,"y":800,"wires":[["a5ecf1e1.d9de3"]]},{"id":"a5ecf1e1.d9de3","type":"switch","z":"8b2a50a5.d4fcc8","name":"","property":"Status","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":210,"y":800,"wires":[["5a971529.58277c"],["4a6fae45.f133c"]]},{"id":"5a971529.58277c","type":"function","z":"8b2a50a5.d4fcc8","name":"","func":"msg.color = 'green';\nmsg.payload = \"Online\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["3d717d97.ba3efa"]]},{"id":"3d717d97.ba3efa","type":"ui_text","z":"8b2a50a5.d4fcc8","group":"5c85955b.97b3f4","order":0,"width":"2","height":"1","name":"","label":"","format":"<font color='{{msg.color}}'>{{msg.payload}}</font>","layout":"col-center","x":490,"y":800,"wires":[]},{"id":"4a6fae45.f133c","type":"function","z":"8b2a50a5.d4fcc8","name":"","func":"msg.color = 'red';\nmsg.payload = \"Offline\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["3d717d97.ba3efa"]]},{"id":"981c3832.156c18","type":"comment","z":"8b2a50a5.d4fcc8","name":"Set Status","info":"","x":640,"y":800,"wires":[]},{"id":"5c85955b.97b3f4","type":"ui_group","z":"","name":"Status","tab":"e7e07068.74633","order":2,"disp":true,"width":"2"},{"id":"e7e07068.74633","type":"ui_tab","z":"","name":"Waterrower","icon":"dashboard"}]
